<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a class="" href="{{ path('accueil') }}">
                    <i class="fa fa-dashboard"></i>
                    <span>Accueil</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="{{ path('polynome') }}" >
                    <i class="fa fa-laptop"></i>
                    <span>Racine entière</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="{{ path('factorisation_polynome_index') }}" >
                    <i class="fa fa-laptop"></i>
                    <span>Factorisation de polynome</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="{{ path('polynome_caracteristique') }}" >
                    <i class="fa fa-laptop"></i>
                    <span>Polynome caracteristique</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-laptop"></i>
                    <span>Présentation de l'équipe</span>
                </a>
            </li>
        </ul>
    </div>
</aside>