{% extends "EtnaMathsBundle:Layout:main_layout.html.twig" %}

{% block body -%}
    <section id="container" class="">
    <section id="main-content">
        <section class="wrapper site-min-height">
            <!-- page start-->
            <section class="panel">
                <header class="panel-heading">
                    Calcul du polynome caracteristique.
                </header>
                <div class="panel-body">
                    <div class="adv-table editable-table ">
                        
                        <div class="space15"></div>
                        <table class="table table-striped table-hover table-bordered" id="editable-sample">
                            
                            <tr>
                               <td><input type="text" id="a1" name="a1"/></td>
                               <td><input type="text" id="a2" name="a2"/></td>
                               <td><input type="text" id="a3" name="a3"/></td>
                            </tr>
                            <tr>
                               <td><input type="text" id="b1" name="b1"/></td>
                               <td><input type="text" id="b2" name="b2"/></td>
                               <td><input type="text" id="b3" name="b3"/></td>
                            </tr>
                            <tr>
                               <td><input type="text" id="c1" name="c1"/></td>
                               <td><input type="text" id="c2" name="c2"/></td>
                               <td><input type="text" id="c3" name="c3"/></td>
                            </tr>
                        </table>
                    </div>
                </div>
               
               <div class="alert">
                     <button id="resultat-btn" class="btn" style="float:right; padding-bottom: 10px;">Lancer le calcul</button>
                     <b>Calcul du polynome caracteristique : </b>
                     <span class=" resultat"  id="pulsar-regular">
                        <i>Calcul non lancé</i>
                     </span>
               </div>
            </section>
        </section>
    </section>
       
    <footer class="site-footer">
        <div class="text-center">
            Etna promo -  2015
            <a href="#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    </section>

{% endblock %}
{%  block javascripts %}
    {{ parent() }}
        <script>
            jQuery(document).ready(function() {
                  
                    $('#resultat-btn').on('click', function(e) {
                       //var coeff1 = $('#a1').val();
                       var result = $('.resultat');
                       
                       imgpath = "<img src=\"{{ asset('bundles/etnamaths/images/input-spinner.gif')}}\" />";
                       result.html(imgpath);
                       var a1, a2, a3, b1, b2, b3, c1, c2, c3;
                       var aCoefficient = [
                          $('#a1').val(),
                          $('#a2').val(),
                          $('#a3').val(),
                          $('#b1').val(),
                          $('#b2').val(),
                          $('#b3').val(),
                          $('#c1').val(),
                          $('#c2').val(),
                          $('#c3').val()
                       ];
                       var result = 0;
                       $.ajax({
                        type: "POST",
                        url: "{{ path('init_matrice') }}",
                        data: { aCoefficient: aCoefficient }
                        })
                           .done(function( result ) {
                                 $(".resultat").html(result);
                                 //$(".resultat").html(buildMatrix(result));
                         
                              }
                           );
                     });
                     
                     function buildMatrix(aaMatrix)
                     {
                        var tmp="";
                            tmp+= "<div class=\"panel\">";
                            tmp="<div class=\" adv-table editable-table\">";  
                            tmp += "<table class=\"table table-striped table-hover table-bordered\">";
                            tmp+= "<tr>";
                              tmp+= "<td>";
                                 tmp+= aaMatrix[0][0];
                              tmp+= "</td>";
                              tmp+= "<td>";
                                 tmp+= aaMatrix[0][1];
                              tmp+= "</td>";
                              tmp+= "<td>";
                                 tmp+= aaMatrix[0][2];
                              tmp+= "</td>";
                            tmp+= "</tr>";
                            tmp+= "<tr>";
                              tmp+= "<td>";
                                 tmp+= aaMatrix[1][0];
                              tmp+= "</td>";
                              tmp+= "<td>";
                                 tmp+= aaMatrix[1][1];
                              tmp+= "</td>";
                              tmp+= "<td>";
                                 tmp+= aaMatrix[1][2];
                              tmp+= "</td>";
                            tmp+= "</tr>";
                            tmp+= "<tr>";
                              tmp+= "<td>";
                                 tmp+= aaMatrix[2][0];
                              tmp+= "</td>";
                              tmp+= "<td>";
                                 tmp+= aaMatrix[2][1];
                              tmp+= "</td>";
                              tmp+= "<td>";
                                 tmp+= aaMatrix[2][2];
                              tmp+= "</td>";
                            tmp+= "</tr>";
                            tmp+= "</table>";
                            tmp+= "</div>";
                            tmp+= "</div>";
                        return tmp;
                     }
            });
        </script>
{% endblock javascripts %}
